* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: normal;
  color: inherit;
  font-weight: normal;
}

*::before,
*::after {
  display: block;
  box-sizing: border-box;
}

::selection {
  background-color: #ccc;
}

body {
  min-height: 100vh;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  display: block;
  width: auto;

  border-style: solid;
  border-color: #ccc;
  border-width: 1px;

  width: 100%;

  &:focus {
    outline-style: solid;
    outline-color: #ccc;
    outline-width: 1px;
  }
}
