.flex {
  display: flex;
  @each $name, $size in $sizes {
    &.rows-#{$name} {
      flex-direction: column;
      gap: #{$size};
    }

    &.cols-#{$name} {
      flex-direction: row;
      gap: #{$size};
    }

    &.cols-auto {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

.grid {
  display: grid;

  .rows {
    grid-auto-flow: row;
    grid-auto-rows: auto;
  }

  @each $name, $size in $sizes {
    &.rows-#{$name} {
      grid-auto-flow: row;
      grid-auto-rows: auto;
      gap: #{$size};
    }
  }

  .cols {
    grid-auto-flow: column;
    grid-auto-columns: auto;
  }

  @each $name, $size in $sizes {
    &.cols-#{$name} {
      grid-auto-flow: column;
      grid-auto-columns: auto;
      gap: #{$size};
    }
  }
}

@each $name, $size in $sizes {
  .p-#{$name} {
    padding: #{$size};
  }
}

.w-fit {
  width: fit-content;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}
